openapi: 3.2.0
info:
  title: Decision Reviews Contestable Issues API
  version: v2
  contact:
    name: developer.va.gov
  description: The Decision Reviews API allows you to interact with a Veteran's decision reviews, also known as benefit appeals.
servers:
- url: https://sandbox-api.va.gov/services/appeals/{version}/decision_reviews
  description: VA.gov API sandbox environment
  variables:
    version:
      default: v2
- url: https://api.va.gov/services/appeals/{version}/decision_reviews
  description: VA.gov API production environment
  variables:
    version:
      default: v2
tags:
- name: Contestable Issues
  description: ''
paths:
  /contestable_issues/{decision_review_type}:
    get:
      summary: Returns all contestable issues for a specific veteran
      tags:
      - Contestable Issues
      operationId: getContestableIssues
      description: Returns all issues associated with a Veteran that have been decided as of the `receiptDate`. Not all issues returned are guaranteed to be eligible for appeal.
      security:
      - apikey: []
      parameters:
      - name: decision_review_type
        in: path
        required: true
        description: Scoping of appeal type for associated issues
        schema:
          type: string
          enum:
          - higher_level_reviews
          - notice_of_disagreements
          - supplemental_claims
        example: higher_level_reviews
      - name: benefit_type
        in: query
        description: Required if decision review type is Higher Level Review or Supplemental Claims.
        schema:
          type: string
          enum:
          - compensation
          - pensionSurvivorsBenefits
          - fiduciary
          - lifeInsurance
          - veteransHealthAdministration
          - veteranReadinessAndEmployment
          - loanGuaranty
          - education
          - nationalCemeteryAdministration
        example: compensation
      - in: header
        name: X-VA-SSN
        required: true
        description: Veteran's SSN
        example: '706547821'
        schema:
          $ref: '#/components/schemas/X-VA-SSN'
      - in: header
        name: X-VA-Receipt-Date
        required: true
        description: (yyyy-mm-dd) In order to determine contestability of issues, the receipt date of a hypothetical Decision Review must be specified. This date must be after 2019-02-19, the Appeals Modernization Act (AMA) Activation Date.
        example: '2022-01-01'
        schema:
          $ref: '#/components/schemas/X-VA-Receipt-Date'
      - in: header
        name: X-VA-File-Number
        required: false
        description: Veteran's file number
        schema:
          $ref: '#/components/schemas/X-VA-File-Number'
      - in: header
        name: X-VA-ICN
        required: false
        description: Veteran's ICN
        example: 1013062086V794840
        schema:
          $ref: '#/components/schemas/X-VA-ICN'
      responses:
        '200':
          description: JSON:API response returning all contestable issues for a specific veteran.
          content:
            application/json:
              example:
                data:
                - type: contestableIssue
                  attributes:
                    ratingIssueSubjectText: right knee
                    ratingIssuePercentNumber: '10'
                    ratingIssueReferenceId: '826209920000'
                    ratingIssueProfileDate: '2019-02-22'
                    ratingIssueDiagnosticCode: null
                    description: Right knee
                    isRating: true
                    latestIssuesInChain:
                    - id: null
                      approxDecisionDate: '2019-02-26'
                    decisionIssueId: null
                    ratingDecisionReferenceId: null
                    approxDecisionDate: '2019-02-26'
                    rampClaimId: null
                    titleOfActiveReview: null
                    sourceReviewType: null
                    timely: true
                    activeReview: false
                - type: contestableIssue
                  attributes:
                    ratingIssueSubjectText: ptsd
                    ratingIssueReferenceId: '826209441170'
                    ratingIssueProfileDate: '2019-02-22'
                    ratingIssueDiagnosticCode: null
                    description: PTSD
                    isRating: true
                    latestIssuesInChain:
                    - id: null
                      approxDecisionDate: '2019-02-25'
                    decisionIssueId: null
                    ratingDecisionReferenceId: null
                    approxDecisionDate: '2019-02-25'
                    rampClaimId: null
                    titleOfActiveReview: null
                    sourceReviewType: null
                    timely: true
                    activeReview: false
                - type: contestableIssue
                  attributes:
                    ratingIssueSubjectText: left knee
                    ratingIssueReferenceId: '826209597423'
                    ratingIssueProfileDate: '2019-02-22'
                    ratingIssueDiagnosticCode: null
                    description: Left knee
                    isRating: true
                    latestIssuesInChain:
                    - id: null
                      approxDecisionDate: '2019-02-24'
                    decisionIssueId: null
                    ratingDecisionReferenceId: null
                    approxDecisionDate: '2019-02-24'
                    rampClaimId: null
                    titleOfActiveReview: null
                    sourceReviewType: null
                    timely: true
                    activeReview: false
              schema:
                $ref: '#/components/schemas/contestableIssues'
        '404':
          description: Veteran not found
          content:
            application/json:
              example:
                errors:
                - status: '404'
                  title: Veteran not found
                  detail: A veteran with that SSN was not found in our systems.
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Parameter Errors
          content:
            application/json:
              examples:
                'decision_review_type must be one of: higher_level_reviews, notice_of_disagreements, supplemental_claims':
                  value:
                    errors:
                    - title: Unprocessable Entity
                      code: unprocessable_entity
                      detail: 'decision_review_type must be one of: higher_level_reviews, notice_of_disagreements, supplemental_claims'
                      status: '422'
                Invalid receipt date:
                  value:
                    errors:
                    - title: Validation error
                      detail: Receipt date cannot be before 2019-02-20
                      source:
                        header: X-VA-Receipt-Date
                      status: '422'
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
              schema:
                $ref: '#/components/schemas/errorModel'
        '502':
          description: Unknown error
          content:
            application/json:
              example:
                errors:
                - title: Bad Gateway
                  detail: Received a 500 response from the upstream server
                  code: CASEFLOWSTATUS500
                  source: No method error
                  status: '502'
components:
  schemas:
    X-VA-ICN:
      description: Veteran's Integration Control Number, a unique identifier established via the Master Person Index (MPI)
      type: string
      minLength: 17
      maxLength: 17
      pattern: ^[0-9]{10}V[0-9]{6}$
    X-VA-Receipt-Date:
      description: (yyyy-mm-dd) Date to limit the contestable issues
      type: string
      format: date
    nonBlankString:
      type: string
      pattern: '[^ \f\n\r\t\v\u00a0\u1680\u2000-\u200a\u2028\u2029\u202f\u205f\u3000\ufeff]'
    X-VA-SSN:
      description: social security number
      type: string
      minLength: 9
      maxLength: 9
      pattern: ^[0-9]{9}$
    errorModel:
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            additionalProperties: false
            required:
            - title
            properties:
              title:
                type: string
                description: HTTP error title
              detail:
                type: string
                description: HTTP error detail
              code:
                type: string
                description: HTTP error code
              source:
                type: object
                additionalProperties: false
                description: Source of error
                properties:
                  pointer:
                    type: string
                    description: Pointer to source of error
                  parameter:
                    type: string
                    description: Invalid request parameter
                  header:
                    type: string
                    description: Invalid header
              status:
                type: string
                description: HTTP error code
              meta:
                type: object
                description: Meta infomation
                properties:
                  missing_fields:
                    type: array
                    items:
                      type: string
                    description: List of missing fields
    contestableIssues:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/contestableIssue'
    contestableIssue:
      type: object
      description: A contestable issue (to contest this, you include it as a RequestIssue when creating a HigherLevelReview, SupplementalClaim, or Appeal)
      properties:
        type:
          type: string
          enum:
          - contestableIssue
        id:
          type:
          - string
          - 'null'
        attributes:
          type: object
          properties:
            ratingIssueReferenceId:
              type:
              - string
              - 'null'
              description: RatingIssue ID
              example: '2385'
            ratingIssueProfileDate:
              type:
              - string
              - 'null'
              format: date
              description: (yyyy-mm-dd) RatingIssue profile date
              example: '2006-05-31'
            ratingIssueDiagnosticCode:
              type:
              - string
              - 'null'
              description: RatingIssue diagnostic code
              example: '5005'
            ratingDecisionReferenceId:
              type:
              - string
              - 'null'
              description: The BGS ID for the contested rating decision. This may be populated while ratingIssueReferenceId is nil
              example: null
            decisionIssueId:
              type:
              - integer
              - 'null'
              description: DecisionIssue ID
              example: null
            approxDecisionDate:
              type:
              - string
              - 'null'
              format: date
              description: (yyyy-mm-dd) Approximate decision date
              example: '2006-11-27'
            description:
              type:
              - string
              - 'null'
              description: Description
              example: Service connection for hypertension is granted with an evaluation of 10 percent effective July 24, 2005.
            rampClaimId:
              type:
              - string
              - 'null'
              description: RampClaim ID
              example: null
            titleOfActiveReview:
              type:
              - string
              - 'null'
              description: Title of DecisionReview that this issue is still active on
              example: null
            sourceReviewType:
              type:
              - string
              - 'null'
              description: The type of DecisionReview (HigherLevelReview, SupplementalClaim, Appeal) the issue was last decided on (if any)
              example: null
            timely:
              type: boolean
              description: An issue is timely if the receipt date is within 372 dates of the decision date.
              example: false
            activeReview:
              type: boolean
              description: Indicates whether this issue is already part of an active Decision Review that is being processed by VA. Submitting a Decision Review that includes a listed issue with an activeReview of true may result in VA rejecting the submission.
              example: false
            latestIssuesInChain:
              type: array
              description: Shows the chain of decision and rating issues that preceded this issue. Only the most recent issue can be contested (the object itself that contains the latestIssuesInChain attribute).
              items:
                type: object
                properties:
                  id:
                    oneOf:
                    - type:
                      - string
                      - 'null'
                    - type: integer
                    example: null
                  approxDecisionDate:
                    type:
                    - string
                    - 'null'
                    format: date
                    example: '2006-11-27'
            ratingIssueSubjectText:
              type:
              - string
              - 'null'
              description: Short description of RatingIssue
              example: Hypertension
            ratingIssuePercentNumber:
              type:
              - string
              - 'null'
              description: Numerical rating for RatingIssue
              example: '10'
            isRating:
              type: boolean
              description: Whether or not this is a RatingIssue
              example: true
    X-VA-File-Number:
      allOf:
      - description: VA file number (c-file / css)
      - maxLength: 9
      - $ref: '#/components/schemas/nonBlankString'
  securitySchemes:
    apikey:
      type: apiKey
      name: apikey
      in: header
