openapi: 3.2.0
info:
  version: 1.0.0
  title: VA My Health Labs And Tests API
  license:
    name: CC0 1.0 Universal
  description: 'The Department of Veterans Affairs My Health APIs. All paths are relative to https://api.va.gov/my_health.

    '
servers:
- url: https://api.va.gov/my_health
security:
- CookieAuth: []
tags:
- name: Labs And Tests
paths:
  /v2/labs_and_tests:
    get:
      description: 'Get lab results and test information for the current user within a specified date range.

        This endpoint provides structured lab and test data with FHIR path mappings for each data element.

        '
      operationId: getLabsAndTests
      parameters:
      - name: start_date
        in: query
        description: Start date for lab results query (format YYYY-MM-DD)
        required: true
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: End date for lab results query (format YYYY-MM-DD)
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Lab results and test information response
          content:
            application/json:
              schema:
                $ref: ./schemas/LabsAndTestsResponse.yml
        '401':
          content:
            application/json:
              schema:
                $ref: ./schemas/Errors.yml
          description: Not authorized
        '403':
          content:
            application/json:
              schema:
                $ref: ./schemas/Errors.yml
          description: Forbidden - user not authorized for lab results
        '404':
          content:
            application/json:
              schema:
                $ref: ./schemas/Errors.yml
          description: No lab results found
      summary: /v2/labs_and_tests
      tags:
      - Labs And Tests
components:
  securitySchemes:
    CookieAuth:
      type: apiKey
      name: api_session
      in: cookie
      description: An authenticated session is established using the Sessions Controller to initiate federated authentication with an external credential provider, after which an API session token is established in the api_session cookie.
