openapi: 3.2.0
info:
  title: Va Notice of Disagreements API
  contact:
    name: developer.va.gov
  version: '1.0'
  description: 'Operations tagged Notice of Disagreements across 2 of this provider''s published API definitions: va-decision-reviews-openapi.json, va-notice-of-disagreements-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox-api.va.gov/services/appeals/{version}/decision_reviews
  description: VA.gov API sandbox environment
  variables:
    version:
      default: v2
- url: https://api.va.gov/services/appeals/{version}/decision_reviews
  description: VA.gov API production environment
  variables:
    version:
      default: v2
- url: https://sandbox-api.va.gov/services/appeals/notice-of-disagreements/{version}
  description: VA.gov API sandbox environment
  variables:
    version:
      default: v0
- url: https://api.va.gov/services/appeals/notice-of-disagreements/{version}
  description: VA.gov API production environment
  variables:
    version:
      default: v0
tags:
- name: Notice of Disagreements
  description: ''
paths:
  /notice_of_disagreements:
    post:
      summary: Creates a new Notice of Disagreement
      tags:
      - Notice of Disagreements
      operationId: createNod
      description: Submits an appeal of type Notice of Disagreement. This endpoint is the same as submitting [VA Form 10182](https://www.va.gov/vaforms/va/pdf/VA10182.pdf) via mail or fax directly to the Board of Veterans’ Appeals.
      security:
      - apikey: []
      parameters:
      - in: header
        name: X-VA-File-Number
        required: true
        description: Veteran's file number
        schema:
          $ref: '#/components/schemas/X-VA-File-Number'
      - in: header
        name: X-VA-ICN
        required: false
        description: Veteran's ICN
        example: 1013062086V794840
        schema:
          $ref: '#/components/schemas/X-VA-ICN'
      - in: header
        name: X-VA-First-Name
        required: true
        description: Veteran's first name
        example: Cara
        schema:
          $ref: '#/components/schemas/X-VA-First-Name'
      - in: header
        name: X-VA-Middle-Initial
        required: false
        description: Veteran's middle initial
        schema:
          $ref: '#/components/schemas/X-VA-Middle-Initial'
      - in: header
        name: X-VA-Last-Name
        required: true
        description: Veteran's last name
        example: Bartlett
        schema:
          $ref: '#/components/schemas/X-VA-Last-Name'
      - in: header
        name: X-VA-Birth-Date
        required: true
        description: Veteran's birth date
        example: '1975-02-14'
        schema:
          $ref: '#/components/schemas/X-VA-Birth-Date'
      - in: header
        name: X-VA-NonVeteranClaimant-First-Name
        required: false
        description: Non-Veteran claimant's first name
        schema:
          $ref: '#/components/schemas/X-VA-NonVeteranClaimant-First-Name'
      - in: header
        name: X-VA-NonVeteranClaimant-Middle-Initial
        required: false
        description: Non-Veteran claimant's middle initial
        schema:
          $ref: '#/components/schemas/X-VA-NonVeteranClaimant-Middle-Initial'
      - in: header
        name: X-VA-NonVeteranClaimant-Last-Name
        required: false
        description: Non-Veteran claimant's last name
        schema:
          $ref: '#/components/schemas/X-VA-NonVeteranClaimant-Last-Name'
      - in: header
        name: X-VA-NonVeteranClaimant-Birth-Date
        required: false
        description: Non-Veteran claimant's Birth Date
        schema:
          $ref: '#/components/schemas/X-VA-NonVeteranClaimant-Birth-Date'
      - in: header
        name: X-Consumer-Username
        required: false
        description: Consumer User Name (passed from Kong)
        schema:
          type: string
      - in: header
        name: X-Consumer-ID
        required: false
        description: Consumer GUID
        schema:
          type: string
      responses:
        '200':
          description: Info about a single Notice of Disagreement
          content:
            application/json:
              examples:
                minimum fields used:
                  value:
                    data:
                      id: 00000000-1111-2222-3333-444444444444
                      type: noticeOfDisagreement
                      attributes:
                        status: pending
                        updatedAt: '2020-01-02T03:04:05.067Z'
                        createdAt: '2020-01-02T03:04:05.067Z'
                        formData:
                          data:
                            type: noticeOfDisagreement
                            attributes:
                              veteran:
                                homeless: true
                                phone:
                                  phoneNumber: '8001111'
                                email: clause@north.com
                                timezone: America/Chicago
                              boardReviewOption: evidence_submission
                              requestingExtension: false
                              appealingVhaDenial: false
                          included:
                          - type: contestableIssue
                            attributes:
                              issue: tinnitus
                              decisionDate: '1900-01-01'
                              decisionIssueId: 1
                              ratingIssueReferenceId: '2'
                all fields used:
                  value:
                    data:
                      id: 00000000-1111-2222-3333-444444444444
                      type: noticeOfDisagreement
                      attributes:
                        status: pending
                        updatedAt: '2020-01-02T03:04:05.067Z'
                        createdAt: '2020-01-02T03:04:05.067Z'
                        formData:
                          data:
                            type: noticeOfDisagreement
                            attributes:
                              veteran:
                                homeless: false
                                address:
                                  addressLine1: 123 Main St
                                  addressLine2: 'Suite #1200'
                                  addressLine3: Box 4
                                  city: North Pole
                                  countryCodeISO2: CA
                                  zipCode5: '00000'
                                  internationalPostalCode: A1B 23C
                                phone:
                                  countryCode: '6'
                                  areaCode: '555'
                                  phoneNumber: '8001111'
                                  phoneNumberExt: '2'
                                email: bob@bobbytablesemail.com
                                timezone: America/Chicago
                              claimant:
                                homeless: false
                                address:
                                  addressLine1: 456 First St
                                  addressLine2: Apt 5
                                  addressLine3: Box 1
                                  city: Detroit
                                  countryCodeISO2: US
                                  stateCode: MI
                                  zipCode5: '48070'
                                phone:
                                  countryCode: '1'
                                  areaCode: '555'
                                  phoneNumber: '8111100'
                                  phoneNumberExt: '4'
                                email: bob@email.com
                                timezone: America/Detroit
                              representative:
                                name: Tony Danza
                              boardReviewOption: hearing
                              hearingTypePreference: central_office
                              requestingExtension: true
                              extensionReason: good cause substantive reason
                              appealingVhaDenial: true
                          included:
                          - type: contestableIssue
                            attributes:
                              issue: tinnitus
                              decisionDate: '1900-01-01'
                              decisionIssueId: 1
                              ratingIssueReferenceId: '2'
                              ratingDecisionReferenceId: '3'
                              disagreementArea: Effective Date
                          - type: contestableIssue
                            attributes:
                              issue: left knee
                              decisionDate: '1900-01-02'
                              decisionIssueId: 4
                              ratingIssueReferenceId: '5'
                          - type: contestableIssue
                            attributes:
                              issue: '123456789'
                              decisionDate: '1900-01-03'
                              ratingIssueReferenceId: '6'
                              ratingDecisionReferenceId: '7'
                              disagreementArea: Service
                          - type: contestableIssue
                            attributes:
                              issue: PTSD
                              decisionDate: '1900-01-04'
                              decisionIssueId: 8
                              ratingDecisionReferenceId: '9'
                          - type: contestableIssue
                            attributes:
                              issue: Traumatic Brain Injury
                              decisionDate: '1900-01-05'
                              decisionIssueId: 10
                          - type: contestableIssue
                            attributes:
                              issue: right shoulder
                              decisionDate: '1900-01-06'
                              disagreementArea: Effective Date
              schema:
                $ref: '#/components/schemas/nodCreateResponse'
        '422':
          description: Violates JSON schema
          content:
            application/json:
              example:
                errors:
                - title: Missing required fields
                  detail: One or more expected fields were not found
                  code: '145'
                  source:
                    pointer: /data/attributes
                  status: '422'
                  meta:
                    missing_fields:
                    - boardReviewOption
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
              schema:
                $ref: '#/components/schemas/errorModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nodCreate'
            examples:
              minimum fields used:
                value:
                  data:
                    type: noticeOfDisagreement
                    attributes:
                      veteran:
                        homeless: true
                        phone:
                          phoneNumber: '8001111'
                        email: clause@north.com
                        timezone: America/Chicago
                      boardReviewOption: evidence_submission
                      requestingExtension: false
                      appealingVhaDenial: false
                  included:
                  - type: contestableIssue
                    attributes:
                      issue: tinnitus
                      decisionDate: '1900-01-01'
                      decisionIssueId: 1
                      ratingIssueReferenceId: '2'
              all fields used:
                value:
                  data:
                    type: noticeOfDisagreement
                    attributes:
                      veteran:
                        homeless: false
                        address:
                          addressLine1: 123 Main St
                          addressLine2: 'Suite #1200'
                          addressLine3: Box 4
                          city: North Pole
                          countryCodeISO2: CA
                          zipCode5: '00000'
                          internationalPostalCode: A1B 23C
                        phone:
                          countryCode: '6'
                          areaCode: '555'
                          phoneNumber: '8001111'
                          phoneNumberExt: '2'
                        email: bob@bobbytablesemail.com
                        timezone: America/Chicago
                      claimant:
                        homeless: false
                        address:
                          addressLine1: 456 First St
                          addressLine2: Apt 5
                          addressLine3: Box 1
                          city: Detroit
                          countryCodeISO2: US
                          stateCode: MI
                          zipCode5: '48070'
                        phone:
                          countryCode: '1'
                          areaCode: '555'
                          phoneNumber: '8111100'
                          phoneNumberExt: '4'
                        email: bob@email.com
                        timezone: America/Detroit
                      representative:
                        name: Tony Danza
                      boardReviewOption: hearing
                      hearingTypePreference: central_office
                      requestingExtension: true
                      extensionReason: good cause substantive reason
                      appealingVhaDenial: true
                  included:
                  - type: contestableIssue
                    attributes:
                      issue: tinnitus
                      decisionDate: '1900-01-01'
                      decisionIssueId: 1
                      ratingIssueReferenceId: '2'
                      ratingDecisionReferenceId: '3'
                      disagreementArea: Effective Date
                  - type: contestableIssue
                    attributes:
                      issue: left knee
                      decisionDate: '1900-01-02'
                      decisionIssueId: 4
                      ratingIssueReferenceId: '5'
                  - type: contestableIssue
                    attributes:
                      issue: '123456789'
                      decisionDate: '1900-01-03'
                      ratingIssueReferenceId: '6'
                      ratingDecisionReferenceId: '7'
                      disagreementArea: Service
                  - type: contestableIssue
                    attributes:
                      issue: PTSD
                      decisionDate: '1900-01-04'
                      decisionIssueId: 8
                      ratingDecisionReferenceId: '9'
                  - type: contestableIssue
                    attributes:
                      issue: Traumatic Brain Injury
                      decisionDate: '1900-01-05'
                      decisionIssueId: 10
                  - type: contestableIssue
                    attributes:
                      issue: right shoulder
                      decisionDate: '1900-01-06'
                      disagreementArea: Effective Date
    servers:
    - url: https://sandbox-api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API sandbox environment
      variables:
        version:
          default: v2
    - url: https://api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API production environment
      variables:
        version:
          default: v2
  /notice_of_disagreements/{uuid}:
    get:
      summary: Shows a specific Notice of Disagreement. (a.k.a. the Show endpoint)
      tags:
      - Notice of Disagreements
      operationId: showNod
      description: Returns all of the data associated with a specific Notice of Disagreement.
      security:
      - apikey: []
      parameters:
      - name: uuid
        in: path
        description: Notice of Disagreement UUID
        example: 02bbbe56-443c-42fa-aaf2-ef6200a6eddd
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Info about a single Notice of Disagreement
          content:
            application/json:
              example:
                data:
                  id: 00000000-1111-2222-3333-444444444444
                  type: noticeOfDisagreement
                  attributes:
                    status: pending
                    updatedAt: '2020-01-02T03:04:05.067Z'
                    createdAt: '2020-01-02T03:04:05.067Z'
              schema:
                $ref: '#/components/schemas/nodShowResponse'
        '404':
          description: Notice of Disagreement not found
          content:
            application/json:
              example:
                errors:
                - code: '404'
                  detail: NoticeOfDisagreement with uuid invalid not found
                  status: '404'
                  title: Record not found
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
              schema:
                $ref: '#/components/schemas/errorModel'
    servers:
    - url: https://sandbox-api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API sandbox environment
      variables:
        version:
          default: v2
    - url: https://api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API production environment
      variables:
        version:
          default: v2
  /notice_of_disagreements/schema:
    get:
      summary: Gets the Notice of Disagreement JSON Schema.
      tags:
      - Notice of Disagreements
      operationId: nodSchema
      description: Returns the [JSON Schema](https://json-schema.org/) for the `POST /notice_of_disagreements` endpoint.
      security:
      - apikey: []
      responses:
        '200':
          description: the JSON Schema for POST /notice_of_disagreements
          content:
            application/json:
              example: '{"$schema":"http://json-schema.org/draft-07/schema#","description":"JSON Schema for VA Form 10182","$ref":"#/definitions/nodCreate","definitions":{"address":{"type":"object","properties":{"addressLine1":{"type":"string","minLength":1,"maxLength":60},"addressLine2":{"type":"string","minLength":1,"maxLength":30},"addressLine3":{"type":"string","minLength":1,"maxLength":10},"city":{"type":"string","minLength":1,"maxLength":60},"stateCode":{"type":"string","enum":["AL","AK","AS","AZ","AR","AA","AE","AP","CA","CO","CT","DE","DC","FM","FL","GA","GU","HI","ID","IL","IN","IA","KS","KY","LA","ME","MH","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","MP","OH","OK","OR","PW","PA","PR","RI","SC","SD","TN","TX","UT","VT","VI","VA","WA","WV","WI","WY"]},"countryCodeISO2":{"type":"string","pattern":"^[A-Z]{2}$","minLength":2,"maxLength":2},"zipCode5":{"type":"string","description":"5-digit zipcode. Use \"00000\" if address is outside the United States","pattern":"^[0-9]{5}$","minLength":5,"maxLength":5},"internationalPostalCode":{"type":"string","minLength":1,"maxLength":16}},"required":["addressLine1","city","countryCodeISO2","zipCode5"]},"phone":{"type":"object","properties":{"countryCode":{"type":"string","pattern":"^[0-9]+$","minLength":1,"maxLength":3},"areaCode":{"type":"string","pattern":"^[0-9]{1,4}$","minLength":1,"maxLength":4},"phoneNumber":{"type":"string","pattern":"^[0-9]{1,14}$","minLength":1,"maxLength":14},"phoneNumberExt":{"type":"string","pattern":"^[a-zA-Z0-9]{1,10}$","minLength":1,"maxLength":10}},"required":["phoneNumber"]},"timezone":{"type":"string","enum":["Africa/Abidjan","Africa/Accra","Africa/Addis_Ababa","Africa/Algiers","Africa/Asmara","Africa/Asmera","Africa/Bamako","Africa/Bangui","Africa/Banjul","Africa/Bissau","Africa/Blantyre","Africa/Brazzaville","Africa/Bujumbura","Africa/Cairo","Africa/Casablanca","Africa/Ceuta","Africa/Conakry","Africa/Dakar","Africa/Dar_es_Salaam","Africa/Djibouti","Africa/Douala","Africa/El_Aaiun","Africa/Freetown","Africa/Gaborone","Africa/Harare","Africa/Johannesburg","Africa/Juba","Africa/Kampala","Africa/Khartoum","Africa/Kigali","Africa/Kinshasa","Africa/Lagos","Africa/Libreville","Africa/Lome","Africa/Luanda","Africa/Lubumbashi","Africa/Lusaka","Africa/Malabo","Africa/Maputo","Africa/Maseru","Africa/Mbabane","Africa/Mogadishu","Africa/Monrovia","Africa/Nairobi","Africa/Ndjamena","Africa/Niamey","Africa/Nouakchott","Africa/Ouagadougou","Africa/Porto-Novo","Africa/Sao_Tome","Africa/Timbuktu","Africa/Tripoli","Africa/Tunis","Africa/Windhoek","America/Adak","America/Anchorage","America/Anguilla","America/Antigua","America/Araguaina","America/Argentina/Buenos_Aires","America/Argentina/Catamarca","America/Argentina/ComodRivadavia","America/Argentina/Cordoba","America/Argentina/Jujuy","America/Argentina/La_Rioja","America/Argentina/Mendoza","America/Argentina/Rio_Gallegos","America/Argentina/Salta","America/Argentina/San_Juan","America/Argentina/San_Luis","America/Argentina/Tucuman","America/Argentina/Ushuaia","America/Aruba","America/Asuncion","America/Atikokan","America/Atka","America/Bahia","America/Bahia_Banderas","America/Barbados","America/Belem","America/Belize","America/Blanc-Sablon","America/Boa_Vista","America/Bogota","America/Boise","America/Buenos_Aires","America/Cambridge_Bay","America/Campo_Grande","America/Cancun","America/Caracas","America/Catamarca","America/Cayenne","America/Cayman","America/Chicago","America/Chihuahua","America/Ciudad_Juarez","America/Coral_Harbour","America/Cordoba","America/Costa_Rica","America/Creston","America/Cuiaba","America/Curacao","America/Danmarkshavn","America/Dawson","America/Dawson_Creek","America/Denver","America/Detroit","America/Dominica","America/Edmonton","America/Eirunepe","America/El_Salvador","America/Ensenada","America/Fort_Nelson","America/Fort_Wayne","America/Fortaleza","America/Glace_Bay","America/Godthab","America/Goose_Bay","America/Grand_Turk","America/Grenada","America/Guadeloupe","America/Guatemala","America/Guayaquil","America/Guyana","America/Halifax","America/Havana","America/Hermosillo","America/Indiana/Indianapolis","America/Indiana/Knox","America/Indiana/Marengo","America/Indiana/Petersburg","America/Indiana/Tell_City","America/Indiana/Vevay","America/Indiana/Vincennes","America/Indiana/Winamac","America/Indianapolis","America/Inuvik","America/Iqaluit","America/Jamaica","America/Jujuy","America/Juneau","America/Kentucky/Louisville","America/Kentucky/Monticello","America/Knox_IN","America/Kralendijk","America/La_Paz","America/Lima","America/Los_Angeles","America/Louisville","America/Lower_Princes","America/Maceio","America/Managua","America/Manaus","America/Marigot","America/Martinique","America/Matamoros","America/Mazatlan","America/Mendoza","America/Menominee","America/Merida","America/Metlakatla","America/Mexico_City","America/Miquelon","America/Moncton","America/Monterrey","America/Montevideo","America/Montreal","America/Montserrat","America/Nassau","America/New_York","America/Nipigon","America/Nome","America/Noronha","America/North_Dakota/Beulah","America/North_Dakota/Center","America/North_Dakota/New_Salem","America/Nuuk","America/Ojinaga","America/Panama","America/Pangnirtung","America/Paramaribo","America/Phoenix","America/Port-au-Prince","America/Port_of_Spain","America/Porto_Acre","America/Porto_Velho","America/Puerto_Rico","America/Punta_Arenas","America/Rainy_River","America/Rankin_Inlet","America/Recife","America/Regina","America/Resolute","America/Rio_Branco","America/Rosario","America/Santa_Isabel","America/Santarem","America/Santiago","America/Santo_Domingo","America/Sao_Paulo","America/Scoresbysund","America/Shiprock","America/Sitka","America/St_Barthelemy","America/St_Johns","America/St_Kitts","America/St_Lucia","America/St_Thomas","America/St_Vincent","America/Swift_Current","America/Tegucigalpa","America/Thule","America/Thunder_Bay","America/Tijuana","America/Toronto","America/Tortola","America/Vancouver","America/Virgin","America/Whitehorse","America/Winnipeg","America/Yakutat","America/Yellowknife","Antarctica/Casey","Antarctica/Davis","Antarctica/DumontDUrville","Antarctica/Macquarie","Antarctica/Mawson","Antarctica/McMurdo","Antarctica/Palmer","Antarctica/Rothera","Antarctica/South_Pole","Antarctica/Syowa","Antarctica/Troll","Antarctica/Vostok","Arctic/Longyearbyen","Asia/Aden","Asia/Almaty","Asia/Amman","Asia/Anadyr","Asia/Aqtau","Asia/Aqtobe","Asia/Ashgabat","Asia/Ashkhabad","Asia/Atyrau","Asia/Baghdad","Asia/Bahrain","Asia/Baku","Asia/Bangkok","Asia/Barnaul","Asia/Beirut","Asia/Bishkek","Asia/Brunei","Asia/Calcutta","Asia/Chita","Asia/Choibalsan","Asia/Chongqing","Asia/Chungking","Asia/Colombo","Asia/Dacca","Asia/Damascus","Asia/Dhaka","Asia/Dili","Asia/Dubai","Asia/Dushanbe","Asia/Famagusta","Asia/Gaza","Asia/Harbin","Asia/Hebron","Asia/Ho_Chi_Minh","Asia/Hong_Kong","Asia/Hovd","Asia/Irkutsk","Asia/Istanbul","Asia/Jakarta","Asia/Jayapura","Asia/Jerusalem","Asia/Kabul","Asia/Kamchatka","Asia/Karachi","Asia/Kashgar","Asia/Kathmandu","Asia/Katmandu","Asia/Khandyga","Asia/Kolkata","Asia/Krasnoyarsk","Asia/Kuala_Lumpur","Asia/Kuching","Asia/Kuwait","Asia/Macao","Asia/Macau","Asia/Magadan","Asia/Makassar","Asia/Manila","Asia/Muscat","Asia/Nicosia","Asia/Novokuznetsk","Asia/Novosibirsk","Asia/Omsk","Asia/Oral","Asia/Phnom_Penh","Asia/Pontianak","Asia/Pyongyang","Asia/Qatar","Asia/Qostanay","Asia/Qyzylorda","Asia/Rangoon","Asia/Riyadh","Asia/Saigon","Asia/Sakhalin","Asia/Samarkand","Asia/Seoul","Asia/Shanghai","Asia/Singapore","Asia/Srednekolymsk","Asia/Taipei","Asia/Tashkent","Asia/Tbilisi","Asia/Tehran","Asia/Tel_Aviv","Asia/Thimbu","Asia/Thimphu","Asia/Tokyo","Asia/Tomsk","Asia/Ujung_Pandang","Asia/Ulaanbaatar","Asia/Ulan_Bator","Asia/Urumqi","Asia/Ust-Nera","Asia/Vientiane","Asia/Vladivostok","Asia/Yakutsk","Asia/Yangon","Asia/Yekaterinburg","Asia/Yerevan","Atlantic/Azores","Atlantic/Bermuda","Atlantic/Canary","Atlantic/Cape_Verde","Atlantic/Faeroe","Atlantic/Faroe","Atlantic/Jan_Mayen","Atlantic/Madeira","Atlantic/Reykjavik","Atlantic/South_Georgia","Atlantic/St_Helena","Atlantic/Stanley","Australia/ACT","Australia/Adelaide","Australia/Brisbane","Australia/Broken_Hill","Australia/Canberra","Australia/Currie","Australia/Darwin","Australia/Eucla","Australia/Hobart","Australia/LHI","Australia/Lindeman","Australia/Lord_Howe","Australia/Melbourne","Australia/NSW","Australia/North","Australia/Perth","Australia/Queensland","Australia/South","Australia/Sydney","Australia/Tasmania","Australia/Victoria","Australia/West","Australia/Yancowinna","Brazil/Acre","Brazil/DeNoronha","Brazil/East","Brazil/West","CET","CST6CDT","Canada/Atlantic","Canada/Central","Canada/Eastern","Canada/Mountain","Canada/Newfoundland","Canada/Pacific","Canada/Saskatchewan","Canada/Yukon","Chile/Continental","Chile/EasterIsland","Cuba","EET","EST","EST5EDT","Egypt","Eire","Etc/GMT","Etc/GMT+0","Etc/GMT+1","Etc/GMT+10","Etc/GMT+11","Etc/GMT+12","Etc/GMT+2","Etc/GMT+3","Etc/GMT+4","Etc/GMT+5","Etc/GMT+6","Etc/GMT+7","Etc/GMT+8","Etc/GMT+9","Etc/GMT-0","Etc/GMT-1","Etc/GMT-10","Etc/GMT-11","Etc/GMT-12","Etc/GMT-13","Etc/GMT-14","Etc/GMT-2","Etc/GMT-3","Etc/GMT-4","Etc/GMT-5","Etc/GMT-6","Etc/GMT-7","Etc/GMT-8","Etc/GMT-9","Etc/GMT0","Etc/Greenwich","Etc/UCT","Etc/UTC","Etc/Universal","Etc/Zulu","Europe/Amsterdam","Europe/Andorra","Europe/Astrakhan","Europe/Athens","Europe/Belfast","Europe/Belgrade","Europe/Berlin","Europe/Bratislava","Europe/Brussels","Europe/Bucharest","Europe/Budapest","Europe/Busingen","Europe/Chisinau","Europe/Copenhagen","Europe/Dublin","Europe/Gibraltar","Europe/Guernsey","Europe/Helsinki","Europe/Isle_of_Man","Europe/Istanbul","Europe/Jersey","Europe/Kaliningrad","Europe/Kiev","Europe/Kirov","Europe/Kyiv","Europe/Lisbon","Europe/Ljubljana","Europe/London","Europe/Luxembourg","Europe/Madrid","Europe/Malta","Europe/Mariehamn","Europe/Minsk","Europe/Monaco","Europe/Moscow","Europe/Nicosia","Europe/Oslo","Europe/Paris","Europe/Podgorica","Europe/Prague","Europe/Riga","Europe/Rome","Europe/Samara","Europe/San_Marino","Europe/Sarajevo","Europe/Saratov","Europe/Simferopol","Europe/Skopje","Europe/Sofia","Europe/Stockholm","Europe/Tallinn","Europe/Tirane","Europe/Tiraspol","Europe/Ulyanovsk","Europe/Uzhgorod","Europe/Vaduz","Europe/Vatican","Europe/Vienna","Europe/Vilnius","Europe/Volgograd","Europe/Warsaw","Europe/Zagreb","Europe/Zaporozhye","Europe/Zurich","Factory","GB","GB-Eire","GMT","GMT+0","GMT-0","GMT0","Greenwich","HST","Hongkong","Iceland","Indian/Antananarivo","Indian/Chagos","Indian/Christmas","Indian/Cocos","Indian/Comoro","Indian/Kerguelen","Indian/Mahe","Indian/Maldives","Indian/Mauritius","Indian/Mayotte","Indian/Reunion","Iran","Israel","Jamaica","Japan","Kwajalein","Libya","MET","MST","MST7MDT","Mexico/BajaNorte","Mexico/BajaSur","Mexico/General","NZ","NZ-CHAT","Navajo","PRC","PST8PDT","Pacific/Apia","Pacific/Auckland","Pacific/Bougainville","Pacific/Chatham","Pacific/Chuuk","Pacific/Easter","Pacific/Efate","Pacific/Enderbury","Pacific/Fakaofo","Pacific/Fiji","Pacific/Funafuti","Pacific/Galapagos","Pacific/Gambier","Pacific/Guadalcanal","Pacific/Guam","Pacific/Honolulu","Pacific/Johnston","Pacific/Kanton","Pacific/Kiritimati","Pacific/Kosrae","Pacific/Kwajalein","Pacific/Majuro","Pacific/Marquesas","Pacific/Midway","Pacific/Nauru","Pacific/Niue","Pacific/Norfolk","Pacific/Noumea","Pacific/Pago_Pago","Pacific/Palau","Pacific/Pitcairn","Pacific/Pohnpei","Pacific/Ponape","Pacific/Port_Moresby","Pacific/Rarotonga","Pacific/Saipan","Pacific/Samoa","Pacific/Tahiti","Pacific/Tarawa","Pacific/Tongatapu","Pacific/Truk","Pacific/Wake","Pacific/Wallis","Pacific/Yap","Poland","Portugal","ROC","ROK","Singapore","Turkey","UCT","US/Alaska","US/Aleutian","US/Arizona","US/Central","US/East-Indiana","US/Eastern","US/Hawaii","US/Indiana-Starke","US/Michigan","US/Mountain","US/Pacific","US/Samoa","UTC","Universal","W-SU","WET","Zulu"]},"nodCreate":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string","enum":["noticeOfDisagreement"]},"attributes":{"type":"object","properties":{"veteran":{"type":"object","properties":{"homeless":{"type":"boolean"},"address":{"$ref":"#/definitions/address"},"phone":{"allOf":[{"$ref":"#/definitions/phone"},{}]},"email":{"type":"string","format":"email","minLength":6,"maxLength":255},"timezone":{"allOf":[{"description":"Veteran''s timezone. Used for adding the current date to the signature according to the veteran''s local time. If not specified, the current UTC date will be used for the signature (which may be ahead or behind the local date)."},{"$ref":"#/definitions/timezone"}]}},"required":["homeless","phone","email"],"if":{"properties":{"homeless":{"const":false}}},"then":{"required":["address"]}},"representative":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120}}},"boardReviewOption":{"type":"string","enum":["direct_review","evidence_submission","hearing"]},"hearingTypePreference":{"type":"string","enum":["virtual_hearing","video_conference","central_office"]},"requestingExtension":{"type":"boolean","description":"Set to true to request a filing extension. An extensionReason must be provided if true."},"extensionReason":{"type":"string","minLength":1,"maxLength":2300,"description":"Explanation why you believe there is good cause for the extension. If an extensionReason is provided, requestingExtension must be true."},"appealingVhaDenial":{"type":"boolean","description":"Set to true if you are appealing a denial of benefits by the Veterans Health Administration (VHA)."}},"required":["boardReviewOption"],"if":{"properties":{"requestingExtension":{"const":true}}},"then":{"required":["extensionReason"]}}},"required":["type","attributes"]},"included":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["contestableIssue"]},"attributes":{"type":"object","properties":{"issue":{"type":"string","minLength":1,"maxLength":180},"decisionDate":{"type":"string","format":"date"},"decisionIssueId":{"type":"integer"},"ratingIssueReferenceId":{"type":"string","minLength":1,"maxLength":255},"ratingDecisionReferenceId":{"type":"string","minLength":1,"maxLength":255},"disagreementArea":{"type":"string","maxLength":90}},"required":["issue","decisionDate"]}},"required":["type","attributes"]},"minItems":1,"maxItems":100,"uniqueItems":true}},"required":["data","included"]}}}'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
              schema:
                $ref: '#/components/schemas/errorModel'
    servers:
    - url: https://sandbox-api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API sandbox environment
      variables:
        version:
          default: v2
    - url: https://api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API production environment
      variables:
        version:
          default: v2
  /notice_of_disagreements/validate:
    post:
      summary: Validates a POST request body against the JSON schema.
      tags:
      - Notice of Disagreements
      operationId: nodValidate
      description: Like the POST /notice_of_disagreements, but only does the validations <b>—does not submit anything.</b>
      security:
      - apikey: []
      parameters:
      - in: header
        name: X-VA-File-Number
        required: false
        description: Veteran's file number
        schema:
          $ref: '#/components/schemas/X-VA-File-Number'
      - in: header
        name: X-VA-ICN
        required: false
        description: Veteran's ICN
        example: 1013062086V794840
        schema:
          $ref: '#/components/schemas/X-VA-ICN'
      - in: header
        name: X-VA-First-Name
        required: true
        description: Veteran's first name
        example: Cara
        schema:
          $ref: '#/components/schemas/X-VA-First-Name'
      - in: header
        name: X-VA-Middle-Initial
        required: false
        description: Veteran's middle initial
        schema:
          $ref: '#/components/schemas/X-VA-Middle-Initial'
      - in: header
        name: X-VA-Last-Name
        required: true
        description: Veteran's last name
        example: Bartlett
        schema:
          $ref: '#/components/schemas/X-VA-Last-Name'
      - in: header
        name: X-VA-Birth-Date
        required: true
        description: Veteran's birth date
        example: '1975-02-14'
        schema:
          $ref: '#/components/schemas/X-VA-Birth-Date'
      - in: header
        name: X-Consumer-Username
        required: false
        description: Consumer User Name (passed from Kong)
        schema:
          type: string
      - in: header
        name: X-Consumer-ID
        required: false
        description: Consumer GUID
        schema:
          type: string
      responses:
        '200':
          description: Info about a single Notice of Disagreement
          content:
            application/json:
              examples:
                minimum fields used:
                  value:
                    data:
                      type: noticeOfDisagreementValidation
                      attributes:
                        status: valid
                all fields used:
                  value:
                    data:
                      type: noticeOfDisagreementValidation
                      attributes:
                        status: valid
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - noticeOfDisagreementValidation
                      attributes:
                        type: object
                        properties:
                          status:
                            type: string
                            enum:
                            - valid
        '422':
          description: Error
          content:
            application/json:
              examples:
                Violates JSON schema:
                  value:
                    errors:
                    - title: Missing required fields
                      detail: One or more expected fields were not found
                      code: '145'
                      source:
                        pointer: /data/attributes
                      status: '422'
                      meta:
                        missing_fields:
                        - boardReviewOption
                Not JSON object:
                  value:
                    errors:
                    - code: '109'
                      detail: The request body isn't a JSON object
                      status: '422'
                      title: Validation error
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
              schema:
                $ref: '#/components/schemas/errorModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nodCreate'
            examples:
              minimum fields used:
                value:
                  data:
                    type: noticeOfDisagreement
                    attributes:
                      veteran:
                        homeless: true
                        phone:
                          phoneNumber: '8001111'
                        email: clause@north.com
                        timezone: America/Chicago
                      boardReviewOption: evidence_submission
                      requestingExtension: false
                      appealingVhaDenial: false
                  included:
                  - type: contestableIssue
                    attributes:
                      issue: tinnitus
                      decisionDate: '1900-01-01'
                      decisionIssueId: 1
                      ratingIssueReferenceId: '2'
              all fields used:
                value:
                  data:
                    type: noticeOfDisagreement
                    attributes:
                      veteran:
                        homeless: false
                        address:
                          addressLine1: 123 Main St
                          addressLine2: 'Suite #1200'
                          addressLine3: Box 4
                          city: North Pole
                          countryCodeISO2: CA
                          zipCode5: '00000'
                          internationalPostalCode: A1B 23C
                        phone:
                          countryCode: '6'
                          areaCode: '555'
                          phoneNumber: '8001111'
                          phoneNumberExt: '2'
                        email: bob@bobbytablesemail.com
                        timezone: America/Chicago
                      claimant:
                        homeless: false
                        address:
                          addressLine1: 456 First St
                          addressLine2: Apt 5
                          addressLine3: Box 1
                          city: Detroit
                          countryCodeISO2: US
                          stateCode: MI
                          zipCode5: '48070'
                        phone:
                          countryCode: '1'
                          areaCode: '555'
                          phoneNumber: '8111100'
                          phoneNumberExt: '4'
                        email: bob@email.com
                        timezone: America/Detroit
                      representative:
                        name: Tony Danza
                      boardReviewOption: hearing
                      hearingTypePreference: central_office
                      requestingExtension: true
                      extensionReason: good cause substantive reason
                      appealingVhaDenial: true
                  included:
                  - type: contestableIssue
                    attributes:
                      issue: tinnitus
                      decisionDate: '1900-01-01'
                      decisionIssueId: 1
                      ratingIssueReferenceId: '2'
                      ratingDecisionReferenceId: '3'
                      disagreementArea: Effective Date
                  - type: contestableIssue
                    attributes:
                      issue: left knee
                      decisionDate: '1900-01-02'
                      decisionIssueId: 4
                      ratingIssueReferenceId: '5'
                  - type: contestableIssue
                    attributes:
                      issue: '123456789'
                      decisionDate: '1900-01-03'
                      ratingIssueReferenceId: '6'
                      ratingDecisionReferenceId: '7'
                      disagreementArea: Service
                  - type: contestableIssue
                    attributes:
                      issue: PTSD
                      decisionDate: '1900-01-04'
                      decisionIssueId: 8
                      ratingDecisionReferenceId: '9'
                  - type: contestableIssue
                    attributes:
                      issue: Traumatic Brain Injury
                      decisionDate: '1900-01-05'
                      decisionIssueId: 10
                  - type: contestableIssue
                    attributes:
                      issue: right shoulder
                      decisionDate: '1900-01-06'
                      disagreementArea: Effective Date
    servers:
    - url: https://sandbox-api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API sandbox environment
      variables:
        version:
          default: v2
    - url: https://api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API production environment
      variables:
        version:
          default: v2
  /notice_of_disagreements/evidence_submissions:
    post:
      summary: Get a location for subsequent evidence submission document upload PUT request
      tags:
      - Notice of Disagreements
      operationId: postNoticeOfDisagreementEvidenceSubmission
      description: 'This is the first step to submitting supporting evidence for an NOD.  (See the Evidence Uploads section above for additional information.)

        The Notice of Disagreement GUID that is returned when the NOD is submitted, is supplied to this endpoint to ensure the NOD is in a valid state for sending supporting evidence documents.  Only NODs that selected the Evidence Submission lane are allowed to submit evidence documents up to 90 days after the NOD is received by VA.

        '
      parameters:
      - name: nod_uuid
        in: query
        required: true
        description: Associated Notice of Disagreement UUID
        example: 9dbc8f83-a778-417e-9f8b-a9a36d710f70
        schema:
          type: string
      - in: header
        name: X-VA-File-Number
        required: false
        description: Veteran's file number
        schema:
          $ref: '#/components/schemas/X-VA-File-Number'
      security:
      - apikey: []
      responses:
        '202':
          description: Accepted. Location generated
          content:
            application/json:
              example:
                data:
                  id: 55555555-6666-7777-8888-999999999999
                  type: evidenceSubmission
                  attributes:
                    status: pending
                    code: null
                    detail: null
                    location: http://some.fakesite.com/path/uuid
                    appealId: 00000000-1111-2222-3333-444444444444
                    finalStatus: false
                    appealType: NoticeOfDisagreement
                    createDate: '2020-01-02T03:04:05.067Z'
                    updateDate: '2020-01-02T03:04:05.067Z'
              schema:
                $ref: '#/components/schemas/nodEvidenceSubmissionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                errors:
                - code: '400'
                  detail: Must supply a corresponding NOD id in order to submit evidence
                  status: '400'
                  title: bad_request
              schema:
                $ref: '#/components/schemas/errorModel'
        '404':
          description: Associated Notice of Disagreement not found
          content:
            application/json:
              example:
                errors:
                - title: not_found
                  detail: NoticeOfDisagreement with uuid 101010101010101010101010 not found
                  code: '404'
                  status: '404'
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Validation errors
          content:
            application/json:
              example:
                errors:
                - title: unprocessable_entity
                  detail: Corresponding Notice of Disagreement 'boardReviewOption' must be 'evidence_submission'
                  code: InvalidReviewOption
                  status: '422'
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
              schema:
                $ref: '#/components/schemas/errorModel'
    servers:
    - url: https://sandbox-api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API sandbox environment
      variables:
        version:
          default: v2
    - url: https://api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API production environment
      variables:
        version:
          default: v2
  /nod_upload_path:
    put:
      summary: Accepts Notice of Disagreement Evidence Submission document upload.
      tags:
      - Notice of Disagreements
      operationId: putNoticeOfDisagreementEvidenceSubmission
      description: 'Accepts document metadata, document binary, and attachment binaries. Full URL, including

        query parameters, provided from POST `/*/evidence_submissions`.

        Please see the `documentUploadMetadata` schema for the required payload schema.


        ## Example Payload


        The following demonstrates a (redacted) multipart payload suitable for submitting to the PUT

        endpoint. Most programming languages should have provisions for assembling a multipart

        payload like this without having to do so manually.


        ```

        --17de1ed8f01442b2a2d7a93506314b76

        Content-Disposition: form-data; name="metadata"

        Content-Type: application/json


        {"veteranFirstName": "Jane",

        "veteranLastName": "Doe",

        "fileNumber": "012345678",

        "zipCode": "94402",

        "source": "Vets.gov",

        "docType": "316"

        "businessLine": "BVA"}

        --17de1ed8f01442b2a2d7a93506314b76

        Content-Disposition: form-data; name="content"

        Content-Type: application/pdf


        <Binary PDF contents>

        --17de1ed8f01442b2a2d7a93506314b76

        Content-Disposition: form-data; name="attachment1"

        Content-Type: application/pdf


        <Binary PDF attachment contents>

        --17de1ed8f01442b2a2d7a93506314b76--

        ```


        This PUT request would have an overall HTTP Content-Type header:


        ```

        Content-Type: multipart/form-data; boundary=17de1ed8f01442b2a2d7a93506314b76

        ```


        Note that the Content-Disposition parameter "name" in each part must be the expected values

        "metadata", "content", "attachment1"..."attachmentN"

        '
      security:
      - apikey: []
      parameters:
      - name: Content-MD5
        in: header
        description: Base64-encoded 128-bit MD5 digest of the message. Use for integrity control.
        schema:
          type: string
      responses:
        '200':
          description: Document upload staged
        '400':
          description: Document upload failed
          content:
            application/xml:
              schema:
                type: object
                description: Document upload failed
                xml:
                  name: Error
                properties:
                  Code:
                    type: string
                    description: Error code
                    example: Bad Digest
                  Message:
                    type: string
                    description: Error detail
                    example: A client error (InvalidDigest) occurred when calling the PutObject operation - The Content-MD5 you specified was invalid.
                  Resource:
                    type: string
                    description: Resource description
                    example: /example_path_here/6d8433c1-cd55-4c24-affd-f592287a7572.upload
                  RequestId:
                    type: string
                    description: Identifier for debug purposes
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
            application/xml:
              schema:
                $ref: '#/components/schemas/errorModel'
    servers:
    - url: https://sandbox-api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API sandbox environment
      variables:
        version:
          default: v2
    - url: https://api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API production environment
      variables:
        version:
          default: v2
  /notice_of_disagreements/evidence_submissions/{uuid}:
    get:
      summary: Returns all of the data associated with a specific Notice of Disagreement Evidence Submission.
      tags:
      - Notice of Disagreements
      operationId: getNoticeOfDisagreementEvidenceSubmission
      description: Returns all of the data associated with a specific Notice of Disagreement Evidence Submission.
      security:
      - apikey: []
      parameters:
      - name: uuid
        in: path
        description: Notice of Disagreement UUID Evidence Submission
        example: b77404cf-ef08-45e4-8201-d5b7622f63df
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Info about a single Notice of Disagreement Evidence Submission.
          content:
            application/json:
              example:
                data:
                  id: 55555555-6666-7777-8888-999999999999
                  type: evidenceSubmission
                  attributes:
                    status: pending
                    code: null
                    detail: null
                    location: null
                    appealId: 00000000-1111-2222-3333-444444444444
                    finalStatus: false
                    appealType: NoticeOfDisagreement
                    createDate: '2020-01-02T03:04:05.067Z'
                    updateDate: '2020-01-02T03:04:05.067Z'
              schema:
                $ref: '#/components/schemas/nodEvidenceSubmissionResponse'
        '404':
          description: Notice of Disagreement Evidence Submission not found
          content:
            application/json:
              example:
                errors:
                - title: Record not found
                  detail: The record identified by invalid could not be found
                  code: '404'
                  status: '404'
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
              schema:
                $ref: '#/components/schemas/errorModel'
    servers:
    - url: https://sandbox-api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API sandbox environment
      variables:
        version:
          default: v2
    - url: https://api.va.gov/services/appeals/{version}/decision_reviews
      description: VA.gov API production environment
      variables:
        version:
          default: v2
  /forms/10182:
    post:
      summary: Creates a new Notice of Disagreement
      tags:
      - Notice of Disagreements
      operationId: createNod
      description: Submits an appeal of type Notice of Disagreement. This endpoint is the same as submitting [VA Form 10182](https://www.va.gov/vaforms/va/pdf/VA10182.pdf) via mail or fax directly to the Board of Veterans’ Appeals.
      security:
      - productionOauth:
        - veteran/NoticeOfDisagreements.write
        - representative/NoticeOfDisagreements.write
        - system/NoticeOfDisagreements.write
      - sandboxOauth:
        - veteran/NoticeOfDisagreements.write
        - representative/NoticeOfDisagreements.write
        - system/NoticeOfDisagreements.write
      - bearer_token: []
      parameters: []
      responses:
        '201':
          description: Notice of Disagreement created
          content:
            application/json:
              examples:
                minimum fields used:
                  value:
                    data:
                      id: 00000000-1111-2222-3333-444444444444
                      type: noticeOfDisagreement
                      attributes:
                        status: pending
                        createDate: '2020-01-02T03:04:05.067Z'
                        updateDate: '2020-01-02T03:04:05.067Z'
                        formData:
                          data:
                            type: noticeOfDisagreement
                            attributes:
                              veteran:
                                icn: 1012667145V762142
                                fileNumber: '987654321'
                                firstName: Jäñe
                                lastName: Doe
                                birthDate: '1969-12-31'
                                homeless: true
                                phone:
                                  phoneNumber: '8001111'
                                email: jdoe@example.com
                                timezone: America/Chicago
                              boardReviewOption: evidence_submission
                              requestingExtension: false
                              appealingVhaDenial: false
                          included:
                          - type: appealableIssue
                            attributes:
                              issue: tinnitus
                              decisionDate: '1900-01-01'
                              decisionIssueId: 1
                              ratingIssueReferenceId: '2'
                all fields used:
                  value:
                    data:
                      id: 00000000-1111-2222-3333-444444444444
                      type: noticeOfDisagreement
                      attributes:
                        status: pending
                        createDate: '2020-01-02T03:04:05.067Z'
                        updateDate: '2020-01-02T03:04:05.067Z'
                        formData:
                          data:
                            type: noticeOfDisagreement
                            attributes:
                              veteran:
                                icn: 1012667145V762142
                                fileNumber: '987654321'
                                firstName: Jäñe
                                middleInitial: Z
                                lastName: Doe
                                birthDate: '1969-12-31'
                                homeless: false
                                address:
                                  addressLine1: 123 Main St
                                  addressLine2: 'Suite #1200'
                                  addressLine3: Box 4
                                  city: North Pole
                                  countryCodeIso3: CAN
                                  zipCode5: '00000'
                                  internationalPostalCode: A1B 23C
                                phone:
                                  countryCode: '6'
                                  areaCode: '555'
                                  phoneNumber: '8001111'
                                  phoneNumberExt: '2'
                                email: bob@bobbytablesemail.com
                                timezone: America/Chicago
                              claimant:
                                firstName: First
                                middleInitial: D
                                lastName: Last
                                homeless: false
                                birthDate: '1972-05-08'
                                address:
                                  addressLine1: 456 First St
                                  addressLine2: Apt 5
                                  addressLine3: Box 1
                                  city: Detroit
                                  countryCodeIso3: USA
                                  stateCode: MI
                                  zipCode5: '48070'
                                phone:
                                  countryCode: '1'
                                  areaCode: '555'
                                  phoneNumber: '8111100'
                                  phoneNumberExt: '4'
                                email: example@email.com
                                timezone: America/Detroit
                              representative:
                                name: First Last
                              boardReviewOption: hearing
                              hearingTypePreference: central_office
                              requestingExtension: true
                              extensionReason: good cause substantive reason
                              appealingVhaDenial: true
                          included:
                          - type: appealableIssue
                            attributes:
                              issue: tinnitus
                              decisionDate: '1900-01-01'
                              decisionIssueId: 1
                              ratingIssueReferenceId: '2'
                              ratingDecisionReferenceId: '3'
                              disagreementArea: Effective Date
                          - type: appealableIssue
                            attributes:
                              issue: left knee
                              decisionDate: '1900-01-02'
                              decisionIssueId: 4
                              ratingIssueReferenceId: '5'
                          - type: appealableIssue
                            attributes:
                              issue: '123456789'
                              decisionDate: '1900-01-03'
                              ratingIssueReferenceId: '6'
                              ratingDecisionReferenceId: '7'
                              disagreementArea: Service
                          - type: appealableIssue
                            attributes:
                              issue: PTSD
                              decisionDate: '1900-01-04'
                              decisionIssueId: 8
                              ratingDecisionReferenceId: '9'
                          - type: appealableIssue
                            attributes:
                              issue: Traumatic Brain Injury
                              decisionDate: '1900-01-05'
                              decisionIssueId: 10
                          - type: appealableIssue
                            attributes:
                              issue: right shoulder
                              decisionDate: '1900-01-06'
                              disagreementArea: Effective Date
              schema:
                $ref: '#/components/schemas/nodCreateResponse_2'
        '400':
          description: Bad request
          content:
            application/json:
              examples:
                Body is not a JSON object:
                  value:
                    errors:
                    - code: '109'
                      detail: The request body isn't a JSON object
                      status: '400'
                      title: Bad Request
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Forbidden attempt using a veteran-scoped OAuth token to create a Notice of Disagreement for another veteran
          content:
            application/json:
              example:
                errors:
                - title: Forbidden
                  detail: Veterans may access only their own records
                  code: '403'
                  status: '403'
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: Violates JSON schema
          content:
            application/json:
              example:
                errors:
                - title: Missing required fields
                  detail: One or more expected fields were not found
                  code: '145'
                  source:
                    pointer: /data/attributes
                  status: '422'
                  meta:
                    missing_fields:
                    - boardReviewOption
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
              schema:
                $ref: '#/components/schemas/errorModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nodCreate_2'
            examples:
              minimum fields used:
                value:
                  data:
                    type: noticeOfDisagreement
                    attributes:
                      veteran:
                        icn: 1012667145V762142
                        fileNumber: '987654321'
                        firstName: Jäñe
                        lastName: Doe
                        birthDate: '1969-12-31'
                        homeless: true
                        phone:
                          phoneNumber: '8001111'
                        email: jdoe@example.com
                        timezone: America/Chicago
                      boardReviewOption: evidence_submission
                      requestingExtension: false
                      appealingVhaDenial: false
                  included:
                  - type: appealableIssue
                    attributes:
                      issue: tinnitus
                      decisionDate: '1900-01-01'
                      decisionIssueId: 1
                      ratingIssueReferenceId: '2'
              all fields used:
                value:
                  data:
                    type: noticeOfDisagreement
                    attributes:
                      veteran:
                        icn: 1012667145V762142
                        fileNumber: '987654321'
                        firstName: Jäñe
                        middleInitial: Z
                        lastName: Doe
                        birthDate: '1969-12-31'
                        homeless: false
                        address:
                          addressLine1: 123 Main St
                          addressLine2: 'Suite #1200'
                          addressLine3: Box 4
                          city: North Pole
                          countryCodeIso3: CAN
                          zipCode5: '00000'
                          internationalPostalCode: A1B 23C
                        phone:
                          countryCode: '6'
                          areaCode: '555'
                          phoneNumber: '8001111'
                          phoneNumberExt: '2'
                        email: bob@bobbytablesemail.com
                        timezone: America/Chicago
                      claimant:
                        firstName: First
                        middleInitial: D
                        lastName: Last
                        homeless: false
                        birthDate: '1972-05-08'
                        address:
                          addressLine1: 456 First St
                          addressLine2: Apt 5
                          addressLine3: Box 1
                          city: Detroit
                          countryCodeIso3: USA
                          stateCode: MI
                          zipCode5: '48070'
                        phone:
                          countryCode: '1'
                          areaCode: '555'
                          phoneNumber: '8111100'
                          phoneNumberExt: '4'
                        email: example@email.com
                        timezone: America/Detroit
                      representative:
                        name: First Last
                      boardReviewOption: hearing
                      hearingTypePreference: central_office
                      requestingExtension: true
                      extensionReason: good cause substantive reason
                      appealingVhaDenial: true
                  included:
                  - type: appealableIssue
                    attributes:
                      issue: tinnitus
                      decisionDate: '1900-01-01'
                      decisionIssueId: 1
                      ratingIssueReferenceId: '2'
                      ratingDecisionReferenceId: '3'
                      disagreementArea: Effective Date
                  - type: appealableIssue
                    attributes:
                      issue: left knee
                      decisionDate: '1900-01-02'
                      decisionIssueId: 4
                      ratingIssueReferenceId: '5'
                  - type: appealableIssue
                    attributes:
                      issue: '123456789'
                      decisionDate: '1900-01-03'
                      ratingIssueReferenceId: '6'
                      ratingDecisionReferenceId: '7'
                      disagreementArea: Service
                  - type: appealableIssue
                    attributes:
                      issue: PTSD
                      decisionDate: '1900-01-04'
                      decisionIssueId: 8
                      ratingDecisionReferenceId: '9'
                  - type: appealableIssue
                    attributes:
                      issue: Traumatic Brain Injury
                      decisionDate: '1900-01-05'
                      decisionIssueId: 10
                  - type: appealableIssue
                    attributes:
                      issue: right shoulder
                      decisionDate: '1900-01-06'
                      disagreementArea: Effective Date
    servers:
    - url: https://sandbox-api.va.gov/services/appeals/notice-of-disagreements/{version}
      description: VA.gov API sandbox environment
      variables:
        version:
          default: v0
    - url: https://api.va.gov/services/appeals/notice-of-disagreements/{version}
      description: VA.gov API production environment
      variables:
        version:
          default: v0
  /forms/10182/{id}:
    get:
      summary: Show a specific Notice of Disagreement
      tags:
      - Notice of Disagreements
      operationId: showNod
      description: Returns basic data associated with a specific Notice of Disagreement.
      security:
      - productionOauth:
        - veteran/NoticeOfDisagreements.read
        - representative/NoticeOfDisagreements.read
        - system/NoticeOfDisagreements.read
      - sandboxOauth:
        - veteran/NoticeOfDisagreements.read
        - representative/NoticeOfDisagreements.read
        - system/NoticeOfDisagreements.read
      - bearer_token: []
      parameters:
      - name: id
        in: path
        description: Notice of Disagreement UUID
        example: 02bbbe56-443c-42fa-aaf2-ef6200a6eddd
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: Info about a single Notice of Disagreement
          content:
            application/json:
              example:
                data:
                  id: 00000000-1111-2222-3333-444444444444
                  type: noticeOfDisagreement
                  attributes:
                    status: pending
                    createDate: '2020-01-02T03:04:05.067Z'
                    updateDate: '2020-01-02T03:04:05.067Z'
              schema:
                $ref: '#/components/schemas/nodShowResponse_2'
        '403':
          description: Forbidden access with a veteran-scoped OAuth token to an unowned Notice of Disagreement
          content:
            application/json:
              example:
                errors:
                - title: Forbidden
                  detail: Veterans may access only their own records
                  code: '403'
                  status: '403'
              schema:
                $ref: '#/components/schemas/errorModel'
        '404':
          description: Notice of Disagreement not found
          content:
            application/json:
              example:
                errors:
                - title: Resource not found
                  detail: Notice of Disagreement with uuid 00000000-0000-0000-0000-000000000000 not found
                  code: '404'
                  status: '404'
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
              schema:
                $ref: '#/components/schemas/errorModel'
    servers:
    - url: https://sandbox-api.va.gov/services/appeals/notice-of-disagreements/{version}
      description: VA.gov API sandbox environment
      variables:
        version:
          default: v0
    - url: https://api.va.gov/services/appeals/notice-of-disagreements/{version}
      description: VA.gov API production environment
      variables:
        version:
          default: v0
  /forms/10182/{id}/download:
    get:
      summary: Download a watermarked copy of a submitted Notice of Disagreement
      tags:
      - Notice of Disagreements
      operationId: downloadNod
      security:
      - productionOauth:
        - veteran/NoticeOfDisagreements.read
        - representative/NoticeOfDisagreements.read
        - system/NoticeOfDisagreements.read
      - sandboxOauth:
        - veteran/NoticeOfDisagreements.read
        - representative/NoticeOfDisagreements.read
        - system/NoticeOfDisagreements.read
      - bearer_token: []
      description: "Returns a watermarked copy of a Notice of Disagreement PDF as submitted to the VA. PDFs are available\nwith the following caveats:\n\n1. The PDF download will become available only after after the Notice of Disagreement has progressed to\n   the 'submitted' state.\n2. The PDF will stop being available one week after the Notice of Disagreement has progressed to the\n   'completed' state. This is when the Veteran's personally identifying information is purged from our servers.\n\nThe 'icn' parameter is required when accessing this endpoint using an OAuth token with the 'representative/NoticeOfDisagreements.read' or 'system/NoticeOfDisagreements.read' scopes.\nRequests made with the 'veteran/NoticeOfDisagreements.read' scope may omit the 'icn' parameter.\n"
      parameters:
      - name: icn
        description: ICN of the Veteran associated with the Notice of Disagreement. Optional when using a veteran-scoped OAuth token. Required when using a representative- or system-scoped token.
        example: 1012832025V743496
        schema:
          type: string
          pattern: ^[0-9]{10}V[0-9]{6}$
          minLength: 17
          maxLength: 17
        in: query
        required: false
      - name: id
        in: path
        description: Notice of Disagreement ID
        schema:
          type: string
          format: uuid
        example: 44444444-5555-6666-7777-888888888888
        required: true
      responses:
        '200':
          description: Success
          content:
            application/pdf:
              schema:
                type: file
        '400':
          description: Missing 'icn' query parameter (with a system- or representative-scoped OAuth token)
          content:
            application/json:
              example:
                errors:
                - title: Missing parameter
                  detail: The 'icn' parameter is required with this request
                  code: '108'
                  status: '400'
              schema:
                $ref: '#/components/schemas/errorModel'
        '403':
          description: Forbidden access (with a veteran-scoped OAuth token to an unowned Notice of Disagreement)
          content:
            application/json:
              example:
                errors:
                - title: Forbidden
                  detail: 'Invalid ''icn'' parameter: Veterans may access only their own records'
                  code: '403'
                  status: '403'
              schema:
                $ref: '#/components/schemas/errorModel'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Notice of Disagreement not found, or 'icn' parameter does not match the Notice of Disagreement's saved data:
                  value:
                    errors:
                    - title: Resource not found
                      detail: Notice of Disagreement with uuid 44444444-5555-6666-7777-888888888888 not found
                      code: '404'
                      status: '404'
              schema:
                $ref: '#/components/schemas/errorModel'
        '410':
          description: Personally identifying information gone
          content:
            application/json:
              example:
                errors:
                - code: '410'
                  detail: PDF for NoticeOfDisagreement with id 44444444-5555-6666-7777-888888888888 cannot be downloaded because the form data was deleted from the server after the PII retention period expired
                  status: '410'
                  title: PDF download expired
              schema:
                $ref: '#/components/schemas/errorModel'
        '422':
          description: PDF not ready
          content:
            application/json:
              example:
                errors:
                - code: '422'
                  detail: PDF for NoticeOfDisagreement with id 44444444-5555-6666-7777-888888888888 cannot be downloaded yet because the appeal is still being submitted
                  status: '422'
                  title: PDF download not ready
              schema:
                $ref: '#/components/schemas/errorModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                errors:
                - title: Internal server error
                  detail: Internal server error
                  code: '500'
                  status: '500'
              schema:
                $ref: '#/components/schemas/errorModel'
    servers:
    - url: https://sandbox-api.va.gov/services/appeals/notice-of-disagreements/{version}
      description: VA.gov API sandbox environment
      variables:
        version:
          default: v0
    - url: https://api.va.gov/services/appeals/notice-of-disagreements/{version}
      description: VA.gov API production environment
      variables:
        version:
          default: v0
  /schemas/{schema_type}:
    get:
      summary: Gets the Notice of Disagreement JSON Schema.
      tags:
      - Notice of Disagreements
      operationId: nodSchema
      description: Returns the [JSON Schema](https://json-schema.org/) for the `POST /forms/10182` endpoint.
      security:
      - productionOauth:
        - veteran/NoticeOfDisagreements.read
        - representative/NoticeOfDisagreements.read
        - system/NoticeOfDisagreements.read
      - sandboxOauth:
        - veteran/NoticeOfDisagreements.read
        - representative/NoticeOfDisagreements.read
        - system/NoticeOfDisagreements.read
      - bearer_token: []
      parameters:
      - name: schema_type
        in: path
        description: 'Schema type. Can be: `10182`, `address`, `nonBlankString`, `phone`, `timezone`'
        required: true
        examples:
          '10182':
            value: '10182'
          address:
            value: address
          nonBlankString:
            value: nonBlankString
          phone:
            value: phone
          timezone:
            value: timezone
        schema:
          type: string
      responses:
        '200':
          description: The JSON schema for the given `schema_type` parameter
          content:
            application/json:
              examples:
                '10182':
                  value:
                    $schema: http://json-schema.org/draft-07/schema#
                    description: JSON Schema for VA Form 10182
                    properties:
                      data:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - noticeOfDisagreement
                          attributes:
                            type: object
                            properties:
                              veteran:
                                type: object
                                properties:
                                  ssn:
                                    allOf:
                                    - $ref: ssn.json
                                    - description: Veteran's SSN
                                  icn:
                                    $ref: icn.json
                                  firstName:
                                    allOf:
                                    - description: Veteran's first name
                                      minLength: 1
                                      maxLength: 255
                                    - {}
                                    - $ref: nonBlankString.json
                                  middleInitial:
                                    allOf:
                                    - description: Veteran's middle initial
                                      minLength: 1
                                      maxLength: 1
                                    - $ref: nonBlankString.json
                                  lastName:
                                    allOf:
                                    - description: Veteran's last name
                                      minLength: 1
                                      maxLength: 255
                                    - $ref: nonBlankString.json
                                  fileNumber:
                                    $ref: fileNumber.json
                                  birthDate:
                                    description: Veteran's birth date
                                    type: string
                                    format: date
                                  homeless:
                                    type: boolean
                                  address:
                                    $ref: address.json
                                  phone:
                                    $ref: phone.json
                                  email:
                                    type: string
                                    format: email
                                    minLength: 6
                                    maxLength: 255
                                  timezone:
                                    description: Veteran's timezone. Used for adding the current date to the signature according to the veteran's local time. If not specified, the current UTC date will be used for the signature (which may be ahead or behind the local date).
                                    $ref: timezone.json
                                required:
                                - icn
                                - fileNumber
                                - firstName
                                - lastName
                                - birthDate
                                - homeless
                                - phone
                                - email
                                if:
                                  properties:
                                    homeless:
                                      const: false
                                then:
                                  required:
                                  - address
                              claimant:
                                type: object
                                description: If the claimant is a non-Veteran, claimant information is required. Without this information, we will be unable to identify the claimant. If you're a healthcare provider or an employee of a healthcare provider requesting review of a VA payment decision, you must identify the healthcare provider as the claimant and complete all relevant information in the claimant object.
                                properties:
                                  firstName:
                                    allOf:
                                    - description: Non-Veteran claimant's first name
                                      minLength: 1
                                      maxLength: 255
                                    - $ref: nonBlankString.json
                                    - {}
                                  middleInitial:
                                    allOf:
                                    - description: Non-Veteran Claimant's middle initial
                                      minLength: 1
                                      maxLength: 1
                                    - $ref: nonBlankString.json
                                  lastName:
                                    allOf:
                                    - description: Non-Veteran Claimant's last name
                                      minLength: 1
                                      maxLength: 255
                                    - $ref: nonBlankString.json
                                  birthDate:
                                    description: Non-Veteran claimant's birth date
                                    type: string
                                    format: date
                                  homeless:
                                    type: boolean
                                  address:
                                    $ref: address.json
                                  phone:
                                    $ref: phone.json
                                  email:
                                    type: string
                                    format: email
                                    minLength: 6
                                    maxLength: 255
                                  timezone:
                                    description: Veteran's timezone. Used for adding the current date to the signature according to the veteran's local time. If not specified, the current UTC date will be used for the signature (which may be ahead or behind the local date).
                                    $ref: timezone.json
                                required:
                                - homeless
                                - phone
                                - email
                                if:
                                  properties:
                                    homeless:
                                      const: false
                                then:
                                  required:
                                  - address
                              representative:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    minLength: 1
                                    maxLength: 120
                              boardReviewOption:
                                type: string
                                enum:
                                - direct_review
                                - evidence_submission
                                - hearing
                              hearingTypePreference:
                                type: string
                                enum:
                                - virtual_hearing
                                - video_conference
                                - central_office
                              requestingExtension:
                                type: boolean
                                description: Set to true to request a filing extension. An extensionReason must be provided if true.
                              extensionReason:
                                type: string
                                minLength: 1
                                maxLength: 2300
                                description: Explanation why you believe there is good cause for the extension. If an extensionReason is provided, requestingExtension must be true.
                              appealingVhaDenial:
                                type: boolean
                                description: Set to true if you are appealing a denial of benefits by the Veterans Health Administration (VHA).
                            required:
                            - boardReviewOption
                            if:
                              properties:
                                requestingExtension:
                                  const: true
                            then:
                              required:
                              - extensionReason
                        required:
                        - type
                        - attributes
                      included:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - appealableIssue
                            attributes:
                              type: object
                              properties:
                                issue:
                                  type: string
                                  minLength: 1
                                  maxLength: 180
                                decisionDate:
                                  type: string
                                  format: date
                                decisionIssueId:
                                  type: integer
                                ratingIssueReferenceId:
                                  type: string
                                  minLength: 1
                                  maxLength: 255
                                ratingDecisionReferenceId:
                                  type: string
                                  minLength: 1
                                  maxLength: 255
                                disagreementArea:
                                  type: string
                                  maxLength: 90
                              required:
                              - issue
                              - decisionDate
                          required:
                          - type
                          - attributes
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                    required:
                    - data
                    - included
                address:
                  value:
                    $schema: http://json-schema.org/draft-2020-12/schema#
                    description: 'JSON Schema for VA Decision Review Forms: ''address'''
                    properties:
                      address:
                        type: object
                        properties:
                          addressLine1:
                            type: string
                            minLength: 1
                            maxLength: 60
                          addressLine2:
                            type: string
                            minLength: 1
                            maxLength: 30
                          addressLine3:
                            type: string
                            minLength: 1
                            maxLength: 10
                          city:
                            type: string
                            minLength: 1
                            maxLength: 60
                          stateCode:
                            type: string
                            enum:
                            - AL
                            - AK
                            - AS
                            - AZ
                            - AR
                            - AA
                            - AE
                            - AP
                            - CA
                            - CO
                            - CT
                            - DE
                            - DC
                            - FM
                            - FL
                            - GA
                            - GU
                            - HI
                            - ID
                            - IL
                            - IN
                            - IA
                            - KS
                            - KY
                            - LA
                            - ME
                            - MH
                            - MD
                            - MA
                            - MI
                            - MN
                            - MS
                            - MO
                            - MT
                            - NE
                            - NV
                            - NH
                            - NJ
                            - NM
                            - NY
                            - NC
                            - ND
                            - MP
                            - OH
                            - OK
                            - OR
                            - PW
                            - PA
                            - PR
                            - RI
                            - SC
                            - SD
                            - TN
                            - TX
                            - UT
                            - VT
                            - VI
                            - VA
                            - WA
                            - WV
                            - WI
                            - WY
                          countryCodeIso3:
                            description: Three letter ISO 3166-1 country code
                            type: string
                            pattern: ^[A-Z]{3}$
                            minLength: 3
                            maxLength: 3
                            example: USA
                          zipCode5:
                            type: string
                            description: Five digit zipcode. Use "00000" if address is outside the United States
                            pattern: ^[0-9]{5}$
                            minLength: 5
                            maxLength: 5
                          internationalPostalCode:
                            type: string
                            minLength: 1
                            maxLength: 16
                        required:
                        - addressLine1
                        - city
                        - countryCodeIso3
                        - zipCode5
                nonBlankString:
                  value:
                    $schema: http://json-schema.org/draft-2020-12/schema#
                    description: 'JSON Schema for VA Decision Review Forms: ''nonBlankString'''
                    properties:
                      nonBlankString:
                        type: string
                        pattern: '[^ \f\n\r\t\v\u00a0\u1680\u2000-\u200a\u2028\u2029\u202f\u205f\u3000\ufeff]'
                phone:
                  value:
                    $schema: http://json-schema.org/draft-2020-12/schema#
                    description: 'JSON Schema for VA Decision Review Forms: ''phone'''
                    properties:
                      phone:
                        type: object
                        properties:
                          countryCode:
                            type: string
                            pattern: ^[0-9]+$
                            minLength: 1
                            maxLength: 3
                          areaCode:
                            type: string
                            pattern: ^[0-9]{1,4}$
                            minLength: 1
                            maxLength: 4
                          phoneNumber:
                            type: string
                            pattern: ^[0-9]{1,14}$
                            minLength: 1
                            maxLength: 14
                          phoneNumberExt:
                            type: string
                            pattern: ^[a-zA-Z0-9]{1,10}$
                            minLength: 1
                            maxLength: 10
                        required:
                        - phoneNumber
                timezone:
                  value:
                    $schema: http://json-schema.org/draft-2020-12/schema#
                    description: 'JSON Schema for VA Decision Review Forms: ''timezone'''
                    properties:
                      timezone:
                        type: string
                        enum:
                        - Africa/Abidjan
                        - Africa/Accra
                        - Africa/Addis_Ababa
                        - Africa/Algiers
                        - Africa/Asmara
                        - Africa/Asmera
                        - Africa/Bamako
                        - Africa/Bangui
                        - Africa/Banjul
                        - Africa/Bissau
                        - Africa/Blantyre
                        - Africa/Brazzaville
                        - Africa/Bujumbura
                        - Africa/Cairo
                        - Africa/Casablanca
                        - Africa/Ceuta
                        - Africa/Conakry
                        - Africa/Dakar
                        - Africa/Dar_es_Salaam
                        - Africa/Djibouti
                        - Africa/Douala
                        - Africa/El_Aaiun
                        - Africa/Freetown
                        - Africa/Gaborone
                        - Africa/Harare
                        - Africa/Johannesburg
                        - Africa/Juba
                        - Africa/Kampala
                        - Africa/Khartoum
                        - Africa/Kigali
                        - Africa/Kinshasa
                        - Africa/Lagos
                        - Africa/Libreville
                        - Africa/Lome
                        - Africa/Luanda
                        - Africa/Lubumbashi
                        - Africa/Lusaka
                        - Africa/Malabo
                        - Africa/Maputo
                        - Africa/Maseru
                        - Africa/Mbabane
                        - Africa/Mogadishu
                        - Africa/Monrovia
                        - Africa/Nairobi
                        - Africa/Ndjamena
                        - Africa/Niamey
                        - Africa/Nouakchott
                        - Africa/Ouagadougou
                        - Africa/Porto-Novo
                        - Africa/Sao_Tome
                        - Africa/Timbuktu
                        - Africa/Tripoli
[...]
