openapi: 3.2.0
info:
  version: 1.0.0
  title: VA My Health Tooltips API
  license:
    name: CC0 1.0 Universal
  description: 'The Department of Veterans Affairs My Health APIs. All paths are relative to https://api.va.gov/my_health.

    '
servers:
- url: https://api.va.gov/my_health
security:
- CookieAuth: []
tags:
- name: Tooltips
paths:
  /v1/tooltips:
    summary: /v1/tooltips
    get:
      description: Retrieve tooltips settings for mhv-medications In-Product Education (IPE)
      operationId: get_tooltips
      parameters:
      - $ref: '#/components/parameters/InflectionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./schemas/Tooltip.yml
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
      - Tooltips
    post:
      description: Create tooltip setting for mhv-medications In-Product Education (IPE)
      operationId: post_tooltip
      parameters:
      - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./schemas/TooltipParams.yml
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: ./schemas/Tooltip.yml
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      tags:
      - Tooltips
  /v1/tooltips/{id}:
    summary: /v1/tooltips/{id}
    patch:
      description: Update tooltip setting for mhv-medications In-Product Education (IPE), typically used for setting 'hidden' attribute
      operationId: patch_tooltip
      parameters:
      - description: The id of the tooltip
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: increment_counter
        required: false
        schema:
          type: boolean
        description: Value indicates if counter will be incremented
      - $ref: '#/components/parameters/InflectionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./schemas/TooltipParams.yml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./schemas/Tooltip.yml
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      tags:
      - Tooltips
components:
  parameters:
    InflectionHeader:
      in: header
      name: X-Key-Inflection
      required: false
      schema:
        type: string
        enum:
        - camel
        - snake
      description: Instructs the API to return camelCase keys rather than snake_case
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: ./schemas/Errors.yml
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: ./schemas/Errors.yml
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: ./schemas/Errors.yml
  securitySchemes:
    CookieAuth:
      type: apiKey
      name: api_session
      in: cookie
      description: An authenticated session is established using the Sessions Controller to initiate federated authentication with an external credential provider, after which an API session token is established in the api_session cookie.
